body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

.info-container {
    z-index: 100;
    position: absolute; 
    left: 0; 
    right: 0; 
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container > .title {
    background-size: cover;
    background-image: url('./title-bg.jpg');
    background-position: center;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-family: 'Knewave', cursive;
    font-size: 70px;
    text-shadow: 2px 2px 4px #0000003d;

    padding: 5px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

.buttons > a {
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    margin: 10px;

    transition: box-shadow 0.4s ease-in-out 0s;
}

.buttons > a > .icon {
    font-size: 30px;
}

.buttons > a > .tooltip {
    font-size: 9px;
    opacity: 0;

    transition: opacity 0.4s ease-in-out 0.3s;
}

.buttons > a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buttons > a:hover > .tooltip {
    opacity: 1;
}

.white {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
}

.white:before {
	z-index: 10;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60vh;
	background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.white:after {
	z-index: 10;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 20vh;
	background-image: linear-gradient(0deg, #EBEBEB 0%, rgba(235, 235, 235, 0) 100%);
}

.squares {
	height: 100%;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.square {
	animation: squares 9.5s linear infinite;
	align-self: flex-end;
	width: 1em;
	height: 1em;
	transform: translateY(100%);
	background: #ebebeb;
}

.square:nth-child(2) {
	height: 1.5em;
	width: 3em;
	animation-delay: 1s;
	animation-duration: 17s;
	-webkit-filter: blur(5px);
}

.square:nth-child(3) {
	height: 2em;
	width: 1em;
	animation-delay: 1.5s;
	animation-duration: 8s;
	-webkit-filter: blur();
}

.square:nth-child(4) {
	height: 1em;
	width: 1.5em;
	animation-delay: 0.5s;
	-webkit-filter: blur(3px);
	animation-duration: 13s;
}

.square:nth-child(5) {
	height: 1.25em;
	width: 2em;
	animation-delay: 4s;
	filter: blur(2px);
	animation-duration: 11s;
}

.square:nth-child(6) {
	height: 2.5em;
	width: 2em;
	animation-delay: 2s;
	filter: blur(1px);
	animation-duration: 9s;
}

.square:nth-child(7) {
	height: 5em;
	width: 2em;
	filter: blur(2.5px);
	animation-duration: 12s;
}

.square:nth-child(8) {
	height: 1em;
	width: 3em;
	animation-delay: 5s;
	filter: blur(6px);
	animation-duration: 18s;
}

.square:nth-child(9) {
	height: 1.5em;
	width: 2em;
	filter: blur(0.5px);
	animation-duration: 9s;
}

.square:nth-child(9) {
	height: 3em;
	width: 2.4em;
	animation-delay: 6s;
	filter: blur(0.5px);
	animation-duration: 12s;
}

@keyframes squares {
	from {
		transform: translateY(100%) rotate(-50deg);
	}

	to {
		transform: translateY(calc(-100vh + -100%)) rotate(20deg);
	}
}